<app-calendar-page (selectedDate)="onSelectedDateChange($event)" [selectedType]="'mondiv'"></app-calendar-page>
<div>{{ selectedDate() }}</div>
<div>

  <div class="table-header">
    <div>Sun</div>
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thu</div>
    <div>Fri</div>
    <div>Sat</div>
  </div>

  <div cdkDropListGroup class="table-body">
    @for (week of monthDays(); let i = $index; track i) {
      <div class="table-row">
        @for (day of week; let i = $index; track i + 'day') {
          @if (day.date) {
            <div
              (click)="navigateToDay(day.date.toString())"

              cdkDropList
                 (cdkDropListDropped)="dropped($event, day.date.toString())"
                 [cdkDropListData]="day.events"
                 class="item"
                 [ngClass]="{ 'current-month': day.isCurrentMonth }">

              <span>{{ day.date.getDate() }}</span>

              @for (event of day.events; let i = $index; track i + 'event') {
                <div
                  cdkDrag
                  class="event-box"
                  [style.background-color]="event.color">
                  <div>{{ event.title }}</div>
                  <div>{{ event.date | date: 'dd/MM-HH:mm' }} - {{ event.duration }} mins</div>
                </div>
              }
            </div>
          }
        }
      </div>
    }
  </div>
</div>
