.table-header{
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;

  div{
    height: 25px;
    width: 197px;
    border: 1px solid gray;
  }
}

.table-body{



}

.table-row{
  display: flex;

}



.item{
  background: #b9b9b9;
  border: 1px solid gray;
  width: 197px;
  height: 197px;
}
.current-month{
  background: white;
}

.event-box {
  z-index: 10;
  width: 100%;
  top: 0;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: grab;
}
