
.day-table {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.hourTable {
  border: 1px solid gray;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start; /* Align items to the left in the hourTable */
}

.hourTable span {
  width: 60px;
}

.event-box {
  z-index: 10;
  /*position: absolute;*/
  top: 0;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: grab;
  display: inline-flex; /* Allows the events to be displayed in a row */
  margin-right: 5px; /* Adds some space between events */
}

.time {
  position: absolute;
  top: 0;
  right: 0;
}
