<app-calendar-page [selectedType]="'day'" (selectedDate)="onSelectedDateChange($event)"></app-calendar-page>


<div>{{selectedDate}}</div>

<div class="day-table" #dayTable>
  @for (hour of hoursArray; track hour.id) {
    <div class="hourTable">
      <span>{{ hour.value }}</span>
      <div class="hour-slot"></div>
    </div>
  }

  @for (event of store.eventItems(); track event.id) {
    <div
      class="event-box"
      cdkDragLockAxis="y"
      [ngStyle]="getEventStyles(event)"
      [style.background-color]="event.color"
      cdkDragBoundary=".day-table"
      cdkDrag
      [cdkDragConstrainPosition]="constrainPosition"
      (cdkDragEnded)="onDragEnd($event, event)"
      >
      <div>{{ event.title }}</div>
      <div>{{event.description}}</div>
      <div>{{event.duration}} hours</div>
      <div class="time">{{ event.date | date: 'HH:mm' }}</div>

    </div>
  }
</div>
