<app-calendar-page [selectedType]="'day'" (selectedDate)="onSelectedDateChange($event)"></app-calendar-page>
<div>{{selectedDate()}}</div>
<div cdkDropListGroup class="day-table">
  @for (hour of eventsByHour(); track hour.id; let i = $index) {
    @if (hour.events) {
      <div
        class="hourTable"
        cdkDropList
        [id]="'hour-' + hour.id"
        [cdkDropListData]="hour.events"
        (cdkDropListDropped)="dropped($event)"
      > <span class="time" >{{ hour.value }}</span>
        @for (event of hour.events; track event.id) {

          <div
            class="event-box"
            cdkDragBoundary='.day-table'
            cdkDragLockAxis="y"
            [style.width]="getEventWidth(hour.events.length)"
            [style.height]="(event.duration + 'px').toString()"
            [style.background-color]="event.color"
            [style.margin-left.px]="(+event.duration) / 2.5"
            cdkDrag>
          <div>{{ event.title }}</div>
          <div>{{ event.description }}</div>
          <div>{{ event.date | date: 'HH:mm' }} - duration: {{ event.duration }} mins</div>
          </div>
        }
      </div>
    }
  }
</div>
