<app-calendar-page [selectedType]="'week'" (selectedDate)="onSelectedDateChange($event)"></app-calendar-page>

<div class="year-calendar">
  @for (month of monthsArray; track month) {
    <div class="month">
      <h3 (click)="navigateToMonth(month, selectedDate())">{{ monthNames()[month] }}</h3>
      <table border="1">
        <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
        </thead>
        <tbody>
          @for (week of getMonthDaysWithEvents(month);let i =$index; track i) {
            <tr>
              @for (dayObj of week;let i =$index; track i) {
                <td class="{{ dayObj.day === 0 ? 'empty' : '' }}">
                  <div>
                    {{ dayObj.day === 0 ? '' : dayObj.day }}
                  </div>
                  <div class="events">
                    @for (event of dayObj.events; track event.id+'event') {
                      <div class="event-box" [style.backgroundColor]="event.color">
                        {{ event.title }}
                      </div>
                    }
                  </div>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
