.event-box {
  z-index: 10;
  width: 100%;
  top: 0;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: grab;
}

.table-box{
  overflow-y: clip;
  gap: 2px;
  display: grid;
  grid-template-columns: 43px repeat(7, 197px);


}

.event-cell{
  display: flex;
  height: 48px;
  width: 195px;
  border: 1px solid gray;
}

.table-header{
  h5{
    width: 43px;
  }
  width: 100%;
  display: flex;
  gap: 2px;
  justify-items: center;
  align-items: center;
  div{
    border: solid 1px gray;
    width: 195px;
    text-align: center;
  }
}
