<app-calendar-page [selectedType]="'week'" (selectedDate)="onSelectedDateChange($event)"></app-calendar-page>
  <div>
  <div class="table-header">
    <h5>Time</h5>
    @for (day of weekDays(); track day) {
      <div (click)="navigateToDay(day.toDateString())">{{ formatDate(day) }}</div>
    }
  </div>
  </div>
  <div class="table-box" cdkDropListGroup>
    @for (hour of eventsByDayAndHour(); track hour.id) {
        <div>{{ hour.value }}</div>
        @for (dayEvents of hour.eventsByDay; track dayEvents.date) {
            <div class="event-cell" cdkDropList
                 (cdkDropListDropped)="dropped($event, dayEvents.date.toString(), hour.value)"
                 [cdkDropListData]="dayEvents.events"
                 >
            @for (event of dayEvents?.events; track event.id; let i = $count;) {
              <div
                cdkDrag
                class="event-box"
                [style.height]="((+event.duration * 0.8) + 'px').toString()"
                [style.background-color]="event.color"
                [style.width]="getEventWidth(i)"
              >{{ event.title }}
                <div>{{ event.date | date: 'dd/MM-HH:mm' }}</div>
              </div>
            }
            </div>
        }
    }
  </div>
