<app-calendar-page [selectedType]="'week'" (selectedDate)="onSelectedDateChange($event)"></app-calendar-page>

<table border="1">
  <thead>
  <tr>
    <th>Time</th>
    @for (day of weekDays(); track day) {
      <th>{{ formatDate(day) }}</th>
    }
  </tr>
  </thead>
  <tbody cdkDropListGroup>
    @for (hour of eventsByDayAndHour(); track hour.id) {
      <tr style="z-index: 1">
        <td>{{ hour.value }}</td>
        @for (dayEvents of hour.eventsByDay; track dayEvents.date) {
          <td>
            <div cdkDropList
                 (cdkDropListDropped)="dropped($event)"
                 [cdkDropListData]="dayEvents.events"
                 style="height: 48px; display: block">
            @for (event of dayEvents?.events; track event.id) {
              <div
                cdkDrag
                class="event-box"
                [style.height]="((+event.duration * 0.8) + 'px').toString()"
                [style.background-color]="event.color"
              >{{ event.title }}
                <div>{{ event.date | date: 'dd/MM-HH:mm' }}</div>
              </div>
            }
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
